# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
*.txt
/resourcepacks/
/saves/
/mods/
/logs/
/config/
*.json
/crash-reports/
